extends base

block content
    div 
        video(src="/" + video.fileUrl, controls)
        p=video.description
        h3 #{video.views} #{video.views === 0 || 1 ? "view" : "views"}
        small=video.createdAt
        br
        small uploadey by 
            a(href=`/users/${video.owner._id}`)=video.owner.name
    if String(loggedInUser._id) === String(video.owner._id)
        a(href=`${video.id}/edit`) Edit Video &rarr;
        br
        a(href=`${video.id}/delete`) Delete Video &rarr;
