extends base

block content
    div 
        p=video.description
        h3 #{video.views} #{video.views === 0 || 1 ? "view" : "views"}
        small=video.createdAt
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br
    a(href=`${video.id}/delete`) Delete Video &rarr;
